!DOCTYPE HTML 
html 
    head 
        title Login
    body 
        form(method="post" action="/login")
            p 
                label 아이디
                input(type="text" name="uid")
            p
                label 비밀번호
                input(type="password" name="upw")
            P
            input(type="submit" text="Login")
